*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bgcolor:rgb(27, 26, 26);
    --bg2color: #3a4452;
    --txtcolor: #ffffff;
}

.light{
    --bgcolor:white;
    --bg2color: #c6d8f1;
    --txtcolor: black;
}

body{
    background:  var(--bg2color);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  var(--bg2color);
}

.calculator{
    
    padding: 10px;
    border-radius: 16px;
    background: var(--bgcolor);
    box-shadow: 10px 10px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: var(--txtcolor);
}

button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: var(--txtcolor);
    font-size: 20px;
    box-shadow: 8px -5px 20px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color:#fb7c14;
}

.theme{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--txtcolor);
    cursor: pointer;
}